<h1>Confirmation de mot de passe</h1>

<p>
    confirmer votre compte : <br><br>
    <a href="{{ signedUrl|raw }}">Email de Confirmation</a>.
    date d'expiration {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Cheers!
</p>